.Form_wrap{
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  margin:0 auto;
  padding: 20px;
  background: #eee;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  .form_item{
    margin-bottom: 20px;
    label{
      margin:0 10px;
    }
    input{
      outline: none ;
      border: 2px #999 solid;
    }
  }
}