.todo-footer{
  width: 100%;
  bottom: 0;
  .todo-wrap{
    padding: 5px;
    display: flex;
    height: 40px;
    justify-content:space-between;
    align-items: center;
    .left{
      display: flex;
      align-items: center;
    .checkbox-wrap{
      width:30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .rightBtn{
    height: 26px;
    background: red;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    }
  }
  
}